@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-page_bg;
  line-height: 1.2 !important;
  font-family: "Bricolage Grotesque", sans-serif;
  font-style: normal;
  font-optical-sizing: auto;
  font-weight: 400;
}

 /* HIDE PASSWORD TOGGLE */
input[type="password"]::-ms-reveal, 
input[type="password"]::-ms-clear,
input[type="password"]::-webkit-clear-button, 
input[type="password"]::-webkit-reveal-button {
  display: none;
}


.wrapper {
  max-width: 596px;
  margin: 80px auto 64px;
  padding: 0 16px;
}

.landing-page__text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100dvh - 64px);
}
